<nav>
  <div class="container">
    <div class="nav-container">
      <div class="logo">
        <span class="logo-text">AngStore</span>
      </div>
      <div class="nav-list">
        <button routerLink="/cart" mat-fab extended color="accent" class="nav-button">
          <mat-icon>shopping_cart</mat-icon>
          Cart
        </button>
        <button routerLink="/" mat-fab extended color="accent" class="nav-button">
          <mat-icon class="nav-icon">window</mat-icon>
          Products
        </button>
      </div>
    </div>
  </div>
</nav>
