<div class="row">
  <div>
    <button mat-fab extended class="add-product-btn" (click)="openDialog()">
      <mat-icon>add</mat-icon>
      Add a new product
    </button>
  </div>
  <div class="border mt-5 p-4 ">
    <div class="col-sm-12 border-bottom">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="fs-6 fw-medium text-black-50">Product</h1>
        </div>
        <div class="col-sm-2">
          <h1 class="fs-6 fw-medium text-black-50">ID</h1>
        </div>
        <div class="col-sm-2">
          <h1 class="fs-6 fw-medium text-black-50">Delete</h1>
        </div>
        <div class="col-sm-2">
          <h1 class="fs-6 fw-medium text-black-50">Edit</h1>
        </div>
      </div>
    </div>
    <div *ngFor="let product of allProducts" class="col-sm-12 mt-2">
      <div class="row">
        <div class="col-sm-6">
            <div class="d-flex gap-4">
                <div>
                    <img src={{product.image}} alt="" class="admin-product-image">
                </div>
                <div class="d-flex flex-column">
                    <h1 class="fs-6 fw-bold m-0">{{product.title}}</h1>
                    <h1 class="fw-bold m-0 text-black-50" style="font-size: 0.7rem;">{{product.price}} L.E</h1>

                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <h1 class="fs-6 fw-bold m-0">{{product.id}}</h1>
        </div>
        <div class="col-sm-2">
            <button mat-flat-button color="warn" class="w-50">
                <mat-icon>delete</mat-icon>
                Delete
            </button>
        </div>
        <div class="col-sm-2">
            <button mat-flat-button color="primary" class="w-50">
                <mat-icon>edit</mat-icon>
                Edit
            </button>
        </div>
      </div>
    </div>
  </div>
</div>
