<div class="row">
  <div class="d-flex justify-content-between align-items-center">
    <h1>
      {{
        selectedCategory ? "Viewing results for: " + selectedCategory : "All"
      }}
    </h1>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select
        [(value)]="selectedCategory"
        (valueChange)="getSelectedCategory()"
      >
        @for (category of categories; track category) {
        <mat-option [value]="category">{{ category }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div
    class="col-lg-3 col-md-4 col-sm-12 mb-4"
    *ngFor="let product of products"
  >
    <div *ngIf="!isLoading">
        <app-product [product]="product" style="cursor: pointer;" routerLink="/details/{{product.id}}" ></app-product>
    </div>
  </div>
</div>

<div *ngIf="isLoading" class="absolute-center">
  <mat-spinner></mat-spinner>
</div>
