/* You can add global styles to this file, and also import other style files */

li {
    list-style: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.absolute-center {
    position: absolute;
    top: 50%; /* Position the item 50% from the top of its parent */
    left: 50%; /* Position the item 50% from the left of its parent */
    transform: translate(-50%, -50%); /* Center the item horizontally and vertically */
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
::-webkit-scrollbar {
    display: none;
}